In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import seaborn as sb
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

In [2]:
Fuel_Data = pd.read_csv('https://raw.githubusercontent.com/ogunsmichael/fuel_fer1/master/fuel_ferc1.csv')

**BASIC** **OPERATIONS**

In [3]:
Fuel_Data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [4]:
Fuel_Data.tail()

                     record_id  ...  fuel_cost_per_mmbtu
29518  f1_fuel_2018_12_12_0_13  ...                 9.03
29519   f1_fuel_2018_12_12_1_1  ...                 6.95
29520  f1_fuel_2018_12_12_1_10  ...                 8.99
29521  f1_fuel_2018_12_12_1_13  ...                 1.11
29522  f1_fuel_2018_12_12_1_14  ...                11.68

[5 rows x 11 columns]

In [6]:
Fuel_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [7]:
Fuel_Data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

***Question 1***

In [11]:
A = [1,2,3,4,5,6]
B = [13,21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

***Question 2***

In [30]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

***Question 3***

In [29]:
Fuel_Year = Fuel_Data.groupby('fuel_type_code_pudl').mean()
Fuel_mean = Fuel_Year.loc[:,['fuel_cost_per_unit_burned']]
Fuel_mean

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                 67.421830
gas                                  13.659397
nuclear                            4955.157002
oil                                 168.877086
other                                18.253856
waste                                19.518122

***Question 4***

In [28]:
Fuel_Data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

***Question 5***

In [25]:
round(Fuel_Data.skew(),2)

utility_id_ferc1                  0.61
report_year                       0.01
fuel_qty_burned                  15.85
fuel_mmbtu_per_unit               4.14
fuel_cost_per_unit_burned        19.79
fuel_cost_per_unit_delivered    105.01
fuel_cost_per_mmbtu             171.68
dtype: float64

In [27]:
round(Fuel_Data.kurtosis(),2)

utility_id_ferc1                    1.09
report_year                        -1.15
fuel_qty_burned                   651.37
fuel_mmbtu_per_unit                55.60
fuel_cost_per_unit_burned         485.26
fuel_cost_per_unit_delivered    11765.05
fuel_cost_per_mmbtu             29489.13
dtype: float64

***Question 6***

In [24]:
feature = [col for col in Fuel_Data.columns if Fuel_Data[col].isnull().any()]
total = Fuel_Data['fuel_unit'].isnull().sum()
percent_missing = round(Fuel_Data['fuel_unit'].isnull().sum() * 100 / len(Fuel_Data),4)
print('Feature:',feature,', ''Total',total,', ''Percent',percent_missing)

Feature: ['fuel_unit'] , Total 180 , Percent 0.6097

***Question 7***

Answer is Categorical and Mode imputation

***Question 8***

In [19]:
Fuel_Data.corr()['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

***Question 9***

In [14]:
a = Fuel_Data.loc[(Fuel_Data['report_year']==1998) & (Fuel_Data['fuel_type_code_pudl']=='coal')]['fuel_cost_per_unit_burned'].sum()
a

11902.597

In [15]:
b = Fuel_Data.loc[(Fuel_Data['report_year']==1994) & (Fuel_Data['fuel_type_code_pudl']=='coal')]['fuel_cost_per_unit_burned'].sum()
b

14984.572000000002

In [16]:
print('The percentage change is:', round((a-b)*100/a))

The percentage change is: -26

***Question 10***

In [17]:
Fuel_Year = Fuel_Data.groupby('report_year').mean()
Fuel_mean = Fuel_Year.loc[:,['fuel_cost_per_unit_delivered']]
Fuel_mean

             fuel_cost_per_unit_delivered
report_year
1994                            63.636060
1995                            32.735269
1996                          9196.705948
1997                         11140.197239
1998                           287.154420
1999                            25.551627
2000                           985.362877
2001                            60.050396
2002                            47.594361
2003                            55.663493
2004                           139.524275
2005                            41.438184
2006                            38.657484
2007                            43.325023
2008                            58.588197
2009                           652.694163
2010                            91.862105
2011                            59.774667
2012                            60.994502
2013                           172.307591
2014                           192.737183
2015                           326.535511
2016                           103.901761
2017                            46.196861
2018                           499.269966